#checkout button {
    background-color: #846e89;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


tr:hover {
    background-color: #ae98b6;
}

.delete {
    color: #c5b8bf;
    cursor: pointer;
}
